:root {
	/* FONTS */
	--font-jetbrains: 'JetBrains Mono Variable', monospace;
	--font-rubik: 'Rubik Variable', sans-serif;

	--font-sys: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-passion-one: 'Passion One', sans-serif;
	--font-inter: 'Inter Variable', sans-serif;

	--font-size-h1: 60px;
	--font-size-h2: 50px;
	--font-size-h3: 40px;
	--font-size-h4: 30px;
	--font-size-h5: 20px;
	--font-size-p: 16px;
	--font-size-small: 12px;

	/* COLORS */
	--clr-white: 0, 0%, 100%;
	--clr-black: 0, 0%, 0%;

	/* NOTE: Color values are in HSL format */
	--clr-electric-indigo: 256deg, 100%, 54%;
	--clr-spring-bud: 84deg, 100%, 54%;
	--clr-magnolia: 256deg, 100%, 97%;
	--clr-dark-purple: 256deg, 100%, 6%;
	--clr-crimson: 351deg, 80%, 49%;
	--clr-canary: 56deg, 100%, 54%;

	@media (prefers-color-scheme: light) {
		--clr-primary: var(--clr-electric-indigo);
		--clr-secondary: var(--clr-spring-bud);
		--clr-base: var(--clr-magnolia);
		--clr-text: var(--clr-dark-purple);
	}

	@media (prefers-color-scheme: dark) {
		--clr-primary: var(--clr-spring-bud);
		--clr-secondary: var(--clr-electric-indigo);
		--clr-base: var(--clr-dark-purple);
		--clr-text: var(--clr-magnolia);
	}
}


*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	transition: all 200ms ease;
	font-family: var(--font-inter);
	box-sizing: border-box;

	&:not(:defined) {
		opacity: 0;
		visibility: hidden;
	}

	&::selection {
		background: hsl(var(--clr-primary));
		color: hsl(var(--clr-base));
	}
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: hsl(var(--clr-text));
	background-color: hsl(var(--clr-base));
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-passion-one);
}

.container {
	width: 100%;
	max-width: 700px;
}

.h1 {
	font-size: var(--font-size-h1);
	font-weight: 800;
	line-height: 1;
}

.h2 {
	font-size: var(--font-size-h2);
	font-weight: 800;
	line-height: 1;
}

.h3 {
	font-size: var(--font-size-h3);
	font-weight: 800;
	line-height: 1.2;
}

.h4 {
	font-size: var(--font-size-h4);
	font-weight: 800;
	line-height: 1.2;
}

.h5 {
	font-size: var(--font-size-h5);
	font-weight: 800;
	line-height: 1.2;
}

.p {
	font-size: var(--font-size-p);
	font-weight: 400;
	line-height: 1.5;
}

.small {
	font-size: var(--font-size-small);
	font-weight: 500;
	line-height: 1.5;
}

.button {
	appearance: none;
	text-decoration: none;
	isolation: isolate;
	color: hsl(var(--clr-text));
	font-weight: 600;
	width: max-content;
	border-radius: 9999rem;
	border: none;
	background: hsl(var(--clr-text));
	outline: 2px solid transparent;
	outline-offset: 4px;
	cursor: pointer;
	user-select: none;

	&:focus-visible {
		outline-color: hsl(var(--clr-primary));
	}

	&>.front {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding: 10px 20px;
		border: 2px solid hsl(var(--clr-text));
		border-radius: inherit;
		background: hsl(var(--clr-base));
		transform: translateY(-2px);
	}

	&:where(:hover, :focus)>.front {
		transition: transform 200ms ease-in;
		transform: translateY(-5px);
	}

	&:active>.front {
		transition: transform 50ms ease-in;
		transform: translateY(0);
	}
}

.a {
	appearance: none;
	text-decoration: 2px solid underline currentColor;
	text-underline-offset: 2px;
	font-size: var(--font-size-p);
	color: hsl(var(--clr-text));
	width: fit-content;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 4px;
	background-color: transparent;
	outline: none;
	cursor: pointer;

	&:is(:hover, :focus) {
		color: hsl(var(--clr-primary));
	}

	&:focus-visible {
		text-decoration-style: wavy;
		text-underline-offset: 4px;
	}
}

.icon {
	width: 100%;
	height: 100%;
}