@layer variables, reset, base, components, utilities;

@layer variables {
	:root {
		/* TYPOGRAPHY */
		/* Font families */
		--font-system-mono: 'Courier New', Courier, monospace;
		--font-system-sans:
			system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
		--font-asap: 'Asap Variable', var(--font-system-sans);
		--font-google-mono: 'Google Sans Code Variable', var(--font-system-mono);
		/* Typescale */
		--text-sm: clamp(0.8rem, 0.22vi + 0.75rem, 0.93rem);
		--text-base: clamp(1rem, 0.43vi + 0.9rem, 1.25rem);
		--text-md: clamp(1.25rem, 0.76vi + 1.08rem, 1.69rem);
		--text-lg: clamp(1.56rem, 1.24vi + 1.28rem, 2.28rem);
		--text-xl: clamp(1.95rem, 1.95vi + 1.51rem, 3.08rem);
		--text-xxl: clamp(2.44rem, 2.97vi + 1.77rem, 4.15rem);
		--text-xxxl: clamp(3.05rem, 4.44vi + 2.05rem, 5.61rem);
		--text-jumbo: clamp(3.81rem, 6.53vi + 2.35rem, 7.57rem);

		/* COLORS */
		--color-white: #ffffff;
		--color-black: #000000;

		/* Electric Indigo = #4D1AFF = oklch(0.492 0.29 277) */
		--color-electric-indigo: oklch(0.492 0.29 277);
		/* Spring Laser = #53FE0A = oklch(0.875 0.28 140) */
		--color-spring-laser: oklch(0.875 0.28 140);
		/* Jasmine = #FDDB7C = oklch(0.9 0.12 90) */
		--color-jasmine: oklch(0.9 0.12 90);
		/* Hot Fuschia = #FB3563 = oklch(0.65 0.23 14) */
		--color-hot-fuschia: oklch(0.65 0.23 14);
		/* Spring Bud: hsl(84, 100%, 54%), #A1FF14, oklch(0.9059 0.2465 131.54) */
		--color-spring-bud: oklch(0.9059 0.2465 131.54);

		/* Utility Colors */
		--color-primary: var(--color-hot-fuschia);
		--color-secondary: var(--color-jasmine);
		--color-ink: color-mix(in oklab, var(--color-primary), var(--color-white) 80%);
		--color-body-bg: color-mix(var(--color-secondary), var(--color-black) 80%);
		--color-selection-ink: var(--color-primary);
		--color-selection-bg: var(--color-ink);

		/* Color Palettes */
		--color-primary-50: color-mix(in oklab, var(--color-primary), var(--color-white) 90%);
		--color-primary-100: color-mix(in oklab, var(--color-primary), var(--color-white) 80%);
		--color-primary-200: color-mix(in oklab, var(--color-primary), var(--color-white) 60%);
		--color-primary-300: color-mix(in oklab, var(--color-primary), var(--color-white) 40%);
		--color-primary-400: color-mix(in oklab, var(--color-primary), var(--color-white) 20%);
		--color-primary-500: color-mix(in oklab, var(--color-primary), var(--color-white) 0%);
		--color-primary-600: color-mix(in oklab, var(--color-primary), var(--color-black) 20%);
		--color-primary-700: color-mix(in oklab, var(--color-primary), var(--color-black) 40%);
		--color-primary-850: color-mix(in oklab, var(--color-primary), var(--color-black) 60%);
		--color-primary-900: color-mix(in oklab, var(--color-primary), var(--color-black) 80%);
		--color-primary-950: color-mix(in oklab, var(--color-primary), var(--color-black) 90%);

		/* Header Height */
		--header-height: 5.4375rem /* 87px */;
	}
}

@layer reset {
	/* Box sizing rules */
	*,
	*::before,
	*::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		scroll-margin-block: 5ex;

		/* Anything that has been anchored to should have extra scroll margin */
		&:target {
			scroll-margin-block: 5ex;
		}
	}

	html {
		/* Set baseline for text behavior */
		font-family: var(--font-system);
		hanging-punctuation: first allow-end last;
		word-break: break-word;
		/* Prevent font size inflation */
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		/* Use antialiasing and optimize text legibility */
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
	ul[role='list'],
	ol[role='list'] {
		list-style: none;
	}

	/* Set core body defaults */
	body {
		min-height: 100vh;
		line-height: 1.5;

		/* Anything that has been anchored to should have extra scroll margin */
		& *:target {
			scroll-margin-block: 5ex;
		}
	}

	/* Balance text wrapping on headings */
	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	h5,
	h6 {
		text-wrap: pretty;
	}

	/* A elements that don't have a class get default styles */
	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	/* Make media content easier to work with */
	img,
	figure,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	/* Inherit fonts for inputs and buttons */
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* Make sure textareas without a rows attribute are not tiny */
	textarea:not([rows]) {
		min-height: 10em;
	}

	/* Anything that has been anchored to should have extra scroll margin */
	:target {
		scroll-margin-block: 5ex;
	}

	/* Add overflow-wrap to all major text pieces */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
}

@layer base {
	*,
	*::before,
	*::after {
		transition: all 200ms ease;

		&:not(:defined) {
			opacity: 0;
			visibility: hidden;
		}

		&::selection {
			background: var(--color-selection-bg);
			color: color-mix(in oklab, var(--color-selection-ink), black 20%);
		}
	}

	body {
		font-family: var(--font-asap);
		line-height: 1.5;
		color: var(--color-ink);
		background-color: var(--color-body-bg);

		&:has(dialog[open]) {
			overflow: hidden;
		}
	}

	h1,
	h2 {
		font-weight: 800;
		line-height: 1.1;
	}

	h3,
	h4 {
		font-weight: 700;
		line-height: 1.25;
	}

	h5,
	h6 {
		font-weight: 600;
		line-height: 1.4;
	}

	h1 {
		font-size: var(--text-xxxl);
	}

	h2 {
		font-size: var(--text-xxl);
	}

	h3 {
		font-size: var(--text-xl);
	}

	h4 {
		font-size: var(--text-lg);
	}

	h5 {
		font-size: var(--text-md);
	}

	h6 {
		font-size: var(--text-base);
	}

	p {
		font-size: var(--text-base);
	}

	small {
		font-size: var(--text-sm);
		font-weight: 500;
	}

	span {
		font: inherit;
	}

	article:where(.blog) {
		& hgroup > h1 {
			color: var(--color-primary);
		}

		& hgroup > p {
			color: color-mix(in oklab, var(--color-text), transparent 50%);
		}

		& p {
			margin-block: 1.5em;
		}

		& h1 {
			margin-block: 1.5em 0.5em;
		}

		& h2 {
			margin-block: 1em 0.5em;
		}

		& h3 {
			margin-block: 1em 0.5em;
		}

		& h4 {
			margin-block: 1em 0.5em;
		}

		& h5 {
			margin-block: 1em 0.5em;
		}

		& h6 {
			margin-block: 1em 0.5em;
		}

		& code {
			font-size: var(--text-sm);
			font-weight: 500;
			line-height: 1;
			color: var(--color-primary);
			display: inline-block;
			padding-block: 0.3125rem /* 5px */;
			padding-inline: 0.3125rem /* 5px */;
			border-radius: 0.3125rem /* 5px */;
			border: 1px solid color-mix(in oklab, var(--color-primary), transparent 80%);
			background: color-mix(in oklab, var(--color-secondary), transparent 80%);
		}

		& pre:has(code) {
			display: block;
			border-radius: 20px /* 20px */;
			/* border: 1px solid color-mix(in oklab, var(--color-primary), transparent 80%); */
			background: color-mix(in oklab, var(--color-secondary), transparent 80%);
			overflow-x: clip;

			& > code {
				font-size: var(--text-sm);
				font-weight: 500;
				line-height: 1.5;
				color: unset;
				min-width: 100%;
				max-width: 100%;
				padding: 20px;
				border-radius: 0;
				border: none;
				background: transparent;
				overflow-x: auto;
			}
		}

		& hr {
			height: 0px;
			border-block: 1px solid color-mix(in oklab, var(--color-text), transparent 80%);
			border-inline: 1px solid color-mix(in oklab, var(--color-text), transparent 80%);
			background-color: transparent;
		}
	}
}

@layer components {
	/* BUTTONS */
	.btn {
		isolation: isolate;
		appearance: none;
		text-decoration: none;
		font-size: var(--text-base, 1rem);
		font-family: var(--font-asap);
		font-weight: 600;
		line-height: 1.1;
		color: var(--color-ink);
		color: var(--color-white);
		min-width: max-content;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0;
		border: 2px solid var(--color-primary);
		background: repeating-linear-gradient(
			45deg,
			var(--color-primary) 2px,
			transparent 2px 6px,
			var(--color-primary) 6px 8px
		);
		outline: 2px solid transparent;
		outline-offset: 4px;
		cursor: pointer;
		user-select: none;

		&::after {
			content: attr(aria-label);
			padding: 5px 10px;
			border-radius: inherit;
			border: 2px solid var(--color-primary);
			background: var(--color-body-bg);
			transform: translateY(-2px);
			/* This margin lines up this element to cover the button's border to the left and the right */
			margin-inline: -2px;
		}

		&.inline {
			display: inline-flex;

			&::after {
				padding: 2px 5px;
			}
		}

		&:hover::after {
			transform: translateY(-5px) scale(1.05);
		}

		&:active::after {
			transform: translateY(0) scale(0.98);
			transition: transform 50ms ease-out;
		}

		&:focus-visible {
			outline-color: var(--color-surface);
		}
	}

	/* LINKS */
	.link {
		appearance: none;
		text-decoration: 2px solid underline color-mix(in oklab, currentColor, transparent 80%);
		text-underline-offset: 0.15em;
		color: var(--color-white);
		font-weight: 600;
		width: fit-content;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		background-color: transparent;
		outline: 2px solid transparent;
		outline-offset: 0.2em /* 4px */;
		cursor: pointer;

		&:is(:hover, :focus) {
			color: var(--color-primary-500);
			text-decoration-color: var(--color-primary-500);
			text-underline-offset: 0.2em;
		}

		&:focus-visible {
			outline-color: var(--color-ink);
		}
	}
}

@layer utilities {
	.container {
		width: 100%;
		max-width: 50rem /* 800px */;
		margin-inline: auto;
	}

	.jumbotron {
		font-weight: 800;
		font-size: var(--text-jumbo);
		line-height: 1;
	}

	.h1,
	.h2 {
		font-weight: 800;
		line-height: 1.1;
	}

	.h3,
	.h4 {
		font-weight: 700;
		line-height: 1.25;
	}

	.h5,
	.h6 {
		font-weight: 600;
		line-height: 1.4;
	}

	.h1 {
		font-size: var(--text-xxxl);
	}

	.h2 {
		font-size: var(--text-xxl);
	}

	.h3 {
		font-size: var(--text-xl);
	}

	.h4 {
		font-size: var(--text-lg);
	}

	.h5 {
		font-size: var(--text-md);
	}

	.h6 {
		font-size: var(--text-base);
	}

	.p {
		font-size: var(--text-base);
	}

	.small {
		font-size: var(--text-sm);
		font-weight: 500;
	}

	.icon {
		width: 100%;
		height: 100%;
	}

	.fix-z-index {
		isolation: isolate;
	}
}
