@layer reset, variables, base, utilities;

@layer reset {

	*,
	*::before,
	*::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		text-size-adjust: none;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
}

@layer variables {
	:root {
		/* TYPOGRAPHY */
		/* Font families */
		--font-sys: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		--font-mono: 'Courier New', Courier, monospace;
		--font-jetbrains: 'JetBrains Mono Variable', var(--font-mono);
		--font-passion-one: 'Passion One', var(--font-sys);
		--font-inter: 'Inter Variable', var(--font-sys);
		/* Typescale */
		--text-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
		--text-base: clamp(1rem, 0.36vi + 0.92rem, 1.19rem);
		--text-md: clamp(1.25rem, 0.63vi + 1.11rem, 1.58rem);
		--text-lg: clamp(1.56rem, 1.04vi + 1.33rem, 2.11rem);
		--text-xl: clamp(1.95rem, 1.64vi + 1.58rem, 2.81rem);
		--text-xxl: clamp(2.44rem, 2.49vi + 1.88rem, 3.75rem);
		--text-xxxl: clamp(3.05rem, 3.71vi + 2.22rem, 5rem);

		/* COLORS */
		--color-white: #ffffff;
		--color-black: #000000;
		/* Electric Indigo: hsl(256, 100%, 54%), #5314FF, oklch(0.4936 0.2917 279) */
		--color-electric-indigo: oklch(0.4936 0.2917 279);
		/* Spring Bud: hsl(84, 100%, 54%), #A1FF14, oklch(0.9059 0.2465 131.54) */
		--color-spring-bud: oklch(0.9059 0.2465 131.54);
		/* Magnolia: hsl(256, 100%, 97%), #F4F0FF, oklch(0.9626 0.020359 298.1966) */
		--color-magnolia: oklch(0.9626 0.020359 298.1966);
		/* Dark Purple: hsl(256, 100%, 6%), #08001F, oklch(0.1241 0.0701 290.25) */
		--color-dark-purple: oklch(0.1241 0.0701 290.25);
		/* Crimson: hsl(351, 80%, 49%), #E11937, oklch(0.5816 0.2244 22.19) */
		--color-crimson: oklch(0.5816 0.2244 22.19);
		/* Canary: hsl(56, 100%, 54%), #FFEF14, oklch(0.9353 0.1957 104.57) */
		--color-canary: oklch(0.9353 0.1957 104.57);

		/* Utility Colors */
		--color-primary: light-dark(var(--color-electric-indigo), var(--color-spring-bud));
		--color-secondary: light-dark(var(--color-spring-bud), var(--color-electric-indigo));
		--color-base: light-dark(var(--color-magnolia), var(--color-dark-purple));
		--color-text: light-dark(var(--color-dark-purple), var(--color-magnolia));

		/* Header Height */
		--header-height: 5.4375rem
			/* 87px */
		;
	}
}

@layer base {

	*,
	*::before,
	*::after {
		transition: all 200ms ease;

		&:not(:defined) {
			opacity: 0;
			visibility: hidden;
		}

		&::selection {
			background: var(--color-primary);
			color: var(--color-base);
		}
	}

	body {
		color-scheme: light dark;
		font-family: var(--font-inter);
		line-height: 1.5;
		color: var(--color-text);
		background-color: var(--color-base);

		&:has(dialog[open]) {
			overflow: hidden;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-passion-one);
	}

	h1 {
		font-size: var(--text-xxxl, 3.75rem);
		font-weight: 700;
		line-height: 1;
	}

	h2 {
		font-size: var(--text-xxl, 3.125rem);
		font-weight: 700;
		line-height: 1;
	}

	h3 {
		font-size: var(--text-xl, 2.5rem);
		font-weight: 700;
		line-height: 1.2;
	}

	h4 {
		font-size: var(--text-lg, 1.875rem);
		font-weight: 700;
		line-height: 1.2;
	}

	h5 {
		font-size: var(--text-md, 1.25rem);
		font-weight: 700;
	}

	h6 {
		font-size: var(--text-base, 1rem);
		font-weight: 700;
	}

	p {
		font-size: var(--text-base, 1rem);
		font-weight: 400;
	}

	small {
		font-size: var(--text-sm, .75rem);
		font-weight: 500;
	}

	span {
		font: inherit;
	}
}

@layer utilities {

	.container {
		width: 100%;
		max-width: 50rem
			/* 800px */
		;
		margin-inline: auto;
	}

	.h1 {
		font-size: var(--text-xxxl, 3.75rem);
		font-weight: 700;
		line-height: 1;
	}

	.h2 {
		font-size: var(--text-xxl, 3.125rem);
		font-weight: 700;
		line-height: 1;
	}

	.h3 {
		font-size: var(--text-xl, 2.5rem);
		font-weight: 700;
		line-height: 1.2;
	}

	.h4 {
		font-size: var(--text-lg, 1.875rem);
		font-weight: 700;
		line-height: 1.2;
	}

	.h5 {
		font-size: var(--text-md, 1.25rem);
		font-weight: 700;
	}

	.h6 {
		font-size: var(--text-base, 1rem);
		font-weight: 700;
	}

	.p {
		font-size: var(--text-base, 1rem);
		font-weight: 400;
	}

	.small {
		font-size: var(--text-sm, .75rem);
		font-weight: 500;
	}

	.btn {
		isolation: isolate;
		appearance: none;
		text-decoration: none;
		font-size: var(--text-base, 1rem);
		font-family: var(--font-inter);
		font-weight: 600;
		color: var(--color-text);
		min-width: max-content;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 9999rem;
		border: none;
		background: var(--color-text);
		outline: 2px solid transparent;
		outline-offset: 4px;
		cursor: pointer;
		user-select: none;

		&::after {
			content: attr(aria-label);
			padding: .625rem 1.25rem
				/* 10px, 20px */
			;
			border-radius: inherit;
			border: 2px solid var(--color-text);
			background: var(--color-base);
			transform: translateY(-0.25rem)
				/* -4px */
			;
		}

		&:hover::after {
			transform: translateY(-0.5rem)
				/* -8px */
			;
		}

		&:active::after {
			transform: translateY(-0.125rem)
				/* -2px */
			;
			transition: transform 50ms ease-out;
		}

		&:focus-visible {
			outline-color: var(--color-primary);
		}
	}

	.link {
		appearance: none;
		text-decoration: 2px solid underline color-mix(in oklab, var(--color-text), transparent 70%);
		text-underline-offset: 2px;
		color: var(--color-text);
		width: fit-content;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		border-radius: 4px;
		background-color: transparent;
		outline: 2px solid transparent;
		outline-offset: .25rem
			/* 4px */
		;
		cursor: pointer;

		&:is(:hover, :focus) {
			color: var(--color-primary);
			text-decoration-color: var(--color-primary);
			text-underline-offset: .25rem
				/* 4px */
			;
		}

		&:focus-visible {
			outline-color: var(--color-primary);
		}
	}

	.icon {
		width: 100%;
		height: 100%;
	}
}